:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.container__principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__conteudo {
    margin: 0 6em;
}

.container__conteudo--titulo {
    font-weight: 700;
}

.container__principal--imagem {
    margin: 1em 0 2em 0;
}

.container__principal--botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao--secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__principal--aviso {
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    color: var(--cinza-secundario);
}

.container__secundario--imagem {
    width: 80%;
}

.container__secundario {
    align-items: center;
    margin: 0 10em;
}

.container__descricao--titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.container__descricao--texto {
    color: var(--cinza-secundario);
}

.container__descricao--botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo {
    font-size: 36px;
    color: var(--branco-principal);
}
.dispositivos__lista--item {
    font-size: 16px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    margin: 8em 4em 6em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: var(--branco-principal);
    margin-top: 2em;
    margin-bottom: 2em;
}

.rodape__lista--link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__lista--link a:hover {
    transition: 1s;
    color: var(--botao-azul);
}

.rodape__texto{
    color: var(--cinza-secundario);
    margin-bottom: 2em;
    font-size: 14px;
}

.container__principal--botao:hover{
    transition: 1s;
    background-color: #00008B;
}